<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Edit</th>
  </tr>
  {{# each items }}
    <tr>
      <td>
        {{# link-to "product" this.product }}
          <img {{ bind-attr src=this.product.image }} height="50" width="50">
          {{ product.name }}
        {{/ link-to }}
      <td>
        {{ input type="number" value=quantity }}
        <div class="btn-group btn-group-xs">
          <a href="#" class="btn btn-success" {{ action "more" this }}>+</a>
          <a href="#" class="btn btn-danger" {{ action "less" this }}>-</a>
        </div>
      </td>
      <td>${{ to_dollars subtotal }}</td>
      <td><a href="#" class="btn btn-danger btn-xs" {{ action "removeFromCart" this }}>Remove</a></td>
    </tr>
  {{/ each }}
</table>

<strong>Subtotal:</strong> ${{ to_dollars total }}<br><br>

<a href="#" class="btn btn-primary btn-sm" {{ action "checkout" this }}>Checkout</a>