
<table class="table">
  <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit Price</th>
    </th>
  </tr>
  {{# each items }}
    <tr>
      <td><img {{ bind-attr src=this.product.image }} height="50" width="50"> {{this.product.name}}</td>
      <td>{{ this.quantity }}
      <span class="btn-group btn-group-xs">
        <a href="#" class="btn btn-default" {{ action "more" this }}>+</a>
        <a href="#" class="btn btn-default" {{ action "less" this }}>-</a>
      </span>
    </td>
    <td>${{ to_dollars this.subtotal }}</td>
    </tr>
  {{/ each }}
</table>

  <strong>Subtotal:</strong> ${{ to_dollars total }}