<br>
<ul class='list-unstyled'>
  {{# each }}
    <li>
      {{# link-to "confirmation" this }}Order #{{ id }}{{/ link-to}}<br>
      Name: {{ name }}<br>
      Total: ${{ to_dollars cart.total }}<br>
      Status: {{ status }}
    </li><br>

    <label>
        {{view Ember.RadioButton name="selectionTest" selectionBinding="isSelected" value="1"}}
        Yes
    </label>
    
    <label>
        {{view Ember.RadioButton name="selectionTest" selectionBinding="isSelected" value="0"}}
        No
    </label>
    
    <div>Is Selected: {{isSelected}}</div>
</script>


  {{/ each }}
</ul>