<br>
<ul class='list-unstyled'>
  {{# each }}
    <li>
      {{# link-to "confirmation" this }}Order #{{ id }}{{/ link-to}}<br>
      Name: {{ name }}<br>
      Total: ${{ to_dollars cart.total }}<br>
      Status: {{ input value=status }} <button class="btn btn-default btn-xs" {{action "saveOrder" this}}>Update</button>
    </li><br>
  {{/ each }}
</ul>