<br>
<ul class='list-unstyled'>
  {{# each }}
    <li>
      {{# link-to "confirmation" this }}Order #{{ id }}{{/ link-to}}<br>
      Name: {{ name }}<br>
      Total: ${{ to_dollars cart.total }}<br>
      Status: {{ status }}
    </li><br>

    <label>
        {{view Ember.RadioButton name="selectionTest" selectionBinding="status" value="paid"}}
        Paid
    </label>
    
    <label>
        {{view Ember.RadioButton name="selectionTest" selectionBinding="status" value="cancelled"}}
        Cancelled
    </label>
</script>


  {{/ each }}
</ul>