<div class='row'>
  <div class='col-lg-3'>
    <img {{ bind-attr src=image }} class='thumbnail col-lg-12' />
  </div>
  <div class='col-lg-9'>
    <h1>
      <span class="product-name">{{ name }} </span><br>
      <small class='muted'>(${{ to_dollars price }})</small>
    </h1>
    {{ description }}

    <br><br><a class="btn btn-default" {{ action "addToCart" this }}>Add to Cart</a>
  </div>
</div>